DATABASE_URL="postgresql://postgres.[your-project-id]:[your-db-password]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
SECRET_KEY="your-supabase-jwt-secret-here"
ENVIRONMENT="development"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# SMTP (Gmail App Password)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME=""
SMTP_PASSWORD=""
GEMINI_API_KEY=""
